html {
    scroll-behavior: smooth;
}

.header_section {
    background-color: #3498db;
}

.header_section img {
    width: 220px;
    height: auto;
}

.primary_menu {}

.primary_menu ul {
    margin-bottom: 0;
    text-align: right;
}

.primary_menu ul li {
    display: inline-block;
    margin-left: -4px;
}

.primary_menu ul li a {
    display: block;
    color: white;
    padding: 0 20px;
    font-size: 20px;
    line-height: 85px;
    border-right: 1px solid #ddd;
}

.primary_menu ul li a:hover {}

/* Banner Section */
.banner_section {
    background-image: url(./img/bg.jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.banner_section h1 {
    background-color: darkgrey;
    width: 600px;
    margin: auto;
    font-size: 50px;
}

.banner_section h2 {
    background-color: rgb(128, 128, 228);
    width: 500px;
    margin: auto;

}

/* About Section */
.about_section {
    background-color: #ecf0f1;
}

.service_section {
    background-color: #f9f9f9;
}

.card span {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #3498db;
    color: #fff;
    margin: auto;
    font-size: 35px;
    line-height: 60px;
    border-radius: 20px 0 20px 0;
}

img {
    max-width: 100%;
}

.product_item p {
    font-size: 18px;
}

.product_right ul {
    list-style: none;
    padding: 0;
}

.product_right ul li {
    background-color: #f7f7f7;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* Footer Section */
.footer_section {
    background-color: #2c3e50;
}

.footer_section p {
    margin-bottom: 0;
}

.footer_section a {
    color: white;
    margin-left: 15px;
    display: inline-block;
}